.open-sans-inter {
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-raleway {
    font-family: "raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*----shared styles----*/
body {
    background-color: #F4F6FF;
}

section {
    margin-top: 116px;
}

.button {
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.button:hover {
    background-color: #2822eb;
    padding: 15px 40px;
    box-shadow: 10px 10px 10px  rgb(139, 135, 135);
}

/*----nav style----*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    color: #4E47FF;
}

nav h1 {
    font-size: 34px;
    padding: 50px 0px;
}

/*----header style---*/
header {
    background-image: url('/images/Hero-bg.png');
}

/*----banner styles----*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}

.banner h1 {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 30px;
}

/*main style*/
main {
    margin: 0 160px;
}

/*action style*/
.action-title {
    font-size: 40px;
    font-weight: bold;
}

.action-subtitle {
    font-size: 18px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 30px;
}

.action-contents {
    display: flex;
    gap: 220px;
}

.action-contents img {
    border-radius: 48px;
}

/*---user styles----*/
.user {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}
.user-contents {
    text-align: center;
    padding: 50px 140px;
    height: 185px;
}

.user-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 158px;
}

.user-card-title {
    color: #4E47FF;
    font-size: 40px;
    font-weight: bold;
    margin-bottom:-15px ;
}

.user-subtitle {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}
/*---touch style---*/
.touch{
    margin: 160px 0px;
}
.touch-contents{
    display: flex;
    justify-content: space-between;
    gap: 124px;
}
.touch-content{
    font-size: 70px;
    font-weight: bold;
    align-content: center;

}
form{
    padding:71px 0px;
    width: 100%;
}
 form input[type="text"],input[type="email"],textarea{
    padding: 20px 250px 20px 32px;
    display: block;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 19px;
    margin-bottom: 19px;
    width: 150px;
}
.form-button{
    padding: 20px 300px 20px 32px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    background-color: #4E47FF;
    border: none;
    font-size: 16px;
}
.form-button:hover{
     padding: 20px 300px 20px 40px;
    box-shadow: 10px 10px 10px rgb(139, 135, 135);
    background-color: #443eec;
}
form label{
    font-size: 18px;
}
